Package: com.pixelomer.joethegoose
Name: Goose Name Tag
Description: A name tag for your goose
Version: 1.0.1
Priority: optional
Section: Tweaks
Architecture: iphoneos-arm
Depends: com.pixelomer.mobilegoose (>=1.2)
Maintainer: PixelOmer
Author: PixelOmer
