Package: com.pixelomer.mobilegoose
Name: MobileGoose
Depends: mobilesubstrate, preferenceloader
Version: 1.3.2
Architecture: iphoneos-arm
Description: An annoying goose for your iDevice
Maintainer: pixelomer
Author: pixelomer
Section: Tweaks
