Package: com.pixelomer.mobilegoose
Name: MobileGoose
Depends: mobilesubstrate, preferenceloader
Version: 1.1
Architecture: iphoneos-arm
Description: An annoying goose for your iDevice
Maintainer: PixelOmer
Author: PixelOmer
Section: Tweaks
