Package: com.pixelomer.mobilegoose
Name: MobileGoose
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: PixelOmer
Author: PixelOmer
Section: Tweaks
