<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.pixelomer.mobilegoose</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>set</key>
			<string>setPreferenceValue:forNotifyingSwitch:</string>
			<key>anyNotification</key>
			<string>com.pixelomer.mobilegoose/PreferenceChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Gifts</string>
			<key>footerText</key>
			<string>You can put images and notes inside "/Library/Application Support/MobileGoose" for the goose to bring.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.pixelomer.mobilegoose</string>
			<key>key</key>
			<string>BringImages</string>
			<key>label</key>
			<string>Bring Images</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.pixelomer.mobilegoose</string>
			<key>key</key>
			<string>BringNotes</string>
			<key>label</key>
			<string>Bring Notes</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.pixelomer.mobilegoose</string>
			<key>key</key>
			<string>DisableDefaultGifts</string>
			<key>label</key>
			<string>Disable Default Gifts</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Credits</string>
			<key>footerText</key>
			<string>MobileGoose was inspired by Desktop Goose, which was made by Samperson. Thanks to him for making an interesting program like that which lead to the creation of MobileGoose.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>pixelomer (MobileGoose)</string>
			<key>action</key>
			<string>URLButtonPerformedAction:</string>
			<key>url</key>
			<string>https://twitter.com/pixelomer</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Samperson (Desktop Goose)</string>
			<key>action</key>
			<string>URLButtonPerformedAction:</string>
			<key>url</key>
			<string>https://twitter.com/SamNChiet</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Untitled Goose Game</string>
			<key>action</key>
			<string>URLButtonPerformedAction:</string>
			<key>url</key>
			<string>https://goose.game</string>
		</dict>
	</array>
	<key>title</key>
	<string>MobileGoose</string>
</dict>
</plist>
